.ipynb_checkpoints
__pycache__
data/
venv/
*.py
tensorflow/fashion-mnist/test_model/
tensorflow/imdb/keras_model/
tensorflow/imdb/model/

# mlflow artifacts 
bentomlflow/mlruns
# bentoml necessary file for serving written from nobook when run
bentomlflow/iris_classifier.py