.card {
  padding: 2rem;
  margin-top: 2rem;
}

#download,
#output,
#spinner {
  display: none;
}

.btn {
  position: relative;
  overflow: hidden;
  background-color: #2196f3 !important;
}

.btn-upload input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
